body, html{
	height: 100%;
	background-color: black;
	color: white;
	font-family: 'Abel', sans-serif;
}
.primer_imagen{
	background-image: url("../img/backgroundC.jpg");
    height: 70%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header{
	position: absolute;
	z-index: 1000;
	left: 150px;
	margin-top: 150px;
	color: white;
}

/* letras */ 
h1, h2, h3, h4, h5, h6{
	font-family: 'Indie Flower', cursive;
}

p{
	font-family: 'Abel', sans-serif;
	font-size: 17px;
}

/* fin de letras */
.informacion{
	margin-top: 100px;
	text-align: center;
	margin-bottom: 150px;
}

.select {
	text-align: center;
}
/* hr */
#separacion {
	background-color: white;
	margin-top: 3px;
	margin-bottom: 8px;
    width: 20%;
}

hr{
	background-color: white;
	margin-top: 3px;
	margin-bottom: 8px;
}
.navbar-light .navbar-toggler {
  background-color: white;
  border-color: blue;
  column-rule-color: red;
}

/* fin hr */

/* navbar */ 
#navbar a{
	font-family: 'Indie Flower', cursive;
	font-size: 20px;
	color: white;
}

#navbar a:hover{
	color: #7f7f7f;
}

.sticky {
	position: fixed;
	top: 0;
	width: 100%;
}

.sticky + .content {
	padding-top: 60px;
}

/* fin navbar */ 

/* botones */ 
button{
	font-family: 'Indie Flower', cursive;
}

.sesionBtn {
	border: 1px solid white;
	background: transparent;
	color: white;
	padding: 10px;
	margin-left: 15px;
	margin-top: 15px;
}

.sesionBtn:hover {
	border: 1px solid #d86b3e;
	color:#d86b3e;
}

/* fin botones */ 

#logo_img{
	max-width: 100px;
}

a {
	color: blue;
	text-decoration: none;
}

a:hover{
	color: lightblue;
	text-decoration: underline;
}

.fullscreen-modal .modal-dialog {
  margin: 0;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}
@media (min-width: 768px) {
  .fullscreen-modal .modal-dialog {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .fullscreen-modal .modal-dialog {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .fullscreen-modal .modal-dialog {
     width: 1170px;
  }
}
label{
	color: black;
}
input{
	color:black;
}

/* fin redes sociales */ 