body {
    font-family: 'lato', sans-serif;
  }
  .container {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
  }
  h2 {
    font-size: 56px;
    margin: 30px 0;
    text-align: center;
  }
  h2 small {
    font-size: 0.5em;
  }
  .responsive-table li {
    border-radius: 3px;
    padding: 25px 30px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
  }
  .responsive-table .table-header {
    background-color: #95a5a6;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
  }
  .responsive-table .table-row {
    background-color: #fff;
    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
  }
  .responsive-table .col-1 {
    flex-basis: 20%;
  }
  .responsive-table .col-2 {
    flex-basis: 30%;
  }
  .responsive-table .col-3 {
    flex-basis: 20%;
  }
  .responsive-table .col-4 {
    flex-basis: 20%;
  }
  .responsive-table .col-5 {
    flex-basis: 10%;
  }
  .responsive-table .col-6 {
    flex-basis: 20%;
  }
  @media all and (max-width: 767px) {
    .responsive-table .table-header {
      display: none;
    }
    .responsive-table li {
      display: block;
    }
    .responsive-table .col {
      flex-basis: 100%;
    }
    .responsive-table .col {
      display: flex;
      padding: 10px 0;
    }
    .responsive-table .col:before {
      color: #6c7a89;
      padding-right: 10px;
      content: attr(data-label);
      flex-basis: 50%;
      text-align: right;
    }
  }

.imagen {
    height: 80px;
    width: 80px;
}

.ui-helper-center {
    text-align: center;
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 15px;
    letter-spacing: 2px;
    word-spacing: 2px;
    color: #000000;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
}

.comprar {
    margin-top: 4px;
    width: 100px;
    font-size: 16px !important;
}

.reservar {
    font-size: 16px !important;
    width: 100px;
    
}

h3 {
  text-align: center;
}
  